<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oksana Fedyukova - FullStack Developer</title>
    <meta name="description" content="Passionate FullStack developer with substantial experience and a versatile skill set. Fluent in five languages, dedicated to collaboration, innovation, and exploration. Contact for new opportunities and challenges.">
    <meta name="keywords" content="Oksana Fedyukova, FullStack Developer, Web Development, Collaboration, Innovation, Exploration, Multilingual">
    <meta name="author" content="Oksana Fedyukova" />
    <link rel="canonical" ref="https://software-developer-oksana.onrender.com" />
    <link rel="alternate" hreflang="en" href="https://software-developer-oksana.onrender.com/projects" />
    <link rel="alternate" hreflang="ru" href="https://software-developer-oksana.onrender.com/aboutme" />
    <link rel="alternate" hreflang="x-default" href="https://software-developer-oksana.onrender.com/" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EWTFQDK7WL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EWTFQDK7WL');
</script>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container mt-3 mb-3">
        <%- include('../partials/flash')%>
        <%- body %>
    </main>
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    <script src='/javascripts/validateForms.js'></script>
</body>

</html>
