<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="text-and-button ">
        <h1>Skills</h1>
    <img src="/images/My_PDF.png" style="height:100px; width: auto; margin-bottom: 1rem;" alt=""> 
</div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Hard Skills</h3>
                    <ul >
                        <li >Programming Languages:
                            <span class="badge bg-primary">JavaScript (Node.js)</span>
                            <span class="badge bg-primary">HTML</span>
                            <span class="badge bg-primary">CSS</span>
                            <span class="badge bg-primary">PHP (Laravel)</span>
                        </li>
                        <li >Databases:
                            <span class="badge bg-primary">MySQL</span>
                            <span class="badge bg-primary">MongoDB</span>
                        </li>
                        <li >Frameworks and Libraries:
                            <span class="badge bg-primary">React.js</span>
                            <span class="badge bg-primary">Express.js</span>
                            <span class="badge bg-primary">Redux Toolkit</span>
                        </li>
                        <li >Tools and Platforms:
                            <span class="badge bg-primary">GitHub</span>
                            <span class="badge bg-primary">Jira</span>
                            <span class="badge bg-primary">Figma</span>
                            <span class="badge bg-primary">Postman</span>
                        </li>
                        <li >Methodologies and Practices:
                            <span class="badge bg-primary">Scrum Master</span>
                            <span class="badge bg-primary">Agile Project Management</span>
                        </li>
                        <li >Others:
                            <span class="badge bg-primary">REST API's</span>
                            <span class="badge bg-primary">EJS</span>
                            <span class="badge bg-primary">Laravel</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Soft Skills</h3>
                    <ul >
                        <li >Adaptability:
                            <span class="badge bg-success">Ability to adapt to new technologies</span>
                            <span class="badge bg-success">Passion for continuous learning</span>
                        </li>
                        <li >Customer Service and Management:
                            <span class="badge bg-success">Experience in customer service and management</span>
                            <span class="badge bg-success">Strong organizational and multitasking skills</span>
                        </li>
                        <li >Collaboration and Teamwork:
                            <span class="badge bg-success">Proven experience in effective teamwork</span>
                            <span class="badge bg-success">Belief in teamwork producing the best results</span>
                        </li>
                        <li >Multilingual Communication:
                            <span class="badge bg-success">Ukrainian (native)</span>
                            <span class="badge bg-success">Russian (native)</span>
                            <span class="badge bg-success">English (fluent)</span>
                            <span class="badge bg-success">Spanish (fluent)</span>
                            <span class="badge bg-success">Catalan (intermediate)</span>
                        </li>
                        <li >Problem Solving:
                            <span class="badge bg-success">Skills to identify and address problems</span>
                            <span class="badge bg-success">Demonstrated ability to solve problems 
                                <br>in previous work environments</span>
                        </li>
                        <li >Project Management:
                            <span class="badge bg-success">Experience as a Scrum Master</span>
                            <span class="badge bg-success">Planning and execution of projects</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
