<% layout('layouts/boilerplate') %>
<div class="container">
    <h1>Skills</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Hard Skills</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Soft Skills</h3>
                </div>
            </div>
        </div>
    </div>
</div>
