
  .card {
    backdrop-filter: blur(5px); 
    background-color: rgba(30, 26, 26, 0.389);
    padding: 10px; 
    border-radius: 7px; 
    margin-bottom: 15px;
  }
 
  
  .cover-container {
    max-width: 100vw;
    margin:auto
  }
  
  .btn-danger {
    margin-top: 20px;
    color: aliceblue;
    margin-bottom: 0.5rem;
    background-color:#e64d00;
    border-color: #e64d00;
  }

  .btn-danger:hover {
    color: aliceblue;
    background-color: rgba(16, 45, 75, 0.8);
    border-color: rgba(16, 45, 75, 0.8)
  } 
  .btn-danger:active {
    background-color: #e64d00;
    border-color:#e64d00;
  }
  .btn-danger:after {
    background-color:#e64d00;
    border-color: #e64d00;
  }
  .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color:  rgba(16, 45, 75, 0.8);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
  }
  
  .nav-link:hover{
    color:  rgba(16, 45, 75, 0.8);
    border-bottom-color:rgba(255,255,255,0.5);
  }
  
  .nav-link.active {
    color: #fff1de;
    border-bottom-color:#fff1de;
  
  }
  .container-contact {
   
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/imgcontact.png");

    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 25px;;
}
@media only screen and (max-width: 600px) {
  .container-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/home.png");
  }
}