body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),

    url("https://images.unsplash.com/photo-1513553404607-988bf2703777?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

 background-size: cover;
 background-position: center;
 background-attachment: fixed; 
 text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
 box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
 background-repeat: no-repeat; 
}

.quote {
  margin-top: 5%;
  padding-bottom: 2rem;
  border-radius: 7px; 
  display: flex;
  flex-wrap: wrap; 
}

section {
  flex: 1; 
  border-radius: 7px; 

  margin: 10px;
  padding: 20px; 
  backdrop-filter: blur(5px); 
  background-color: rgba(30, 26, 26, 0.389);
}

@media (max-width: 768px) {
  .quote {
    flex-direction: column; 
  }
}
.img-blog {
  width: 10rem;
}

.cover-container {
  max-width: 80vw;
  margin:auto
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: #fff1de;
    border-bottom-color:#fff1de;

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

