<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oksana Fedyukova Software Developer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/homeBlog.css" />
  <!--   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha384-wjGjNdCA02D9l3U8bxCAYydHLlAxVbT9zCOyJSK2ueCrP28HUC4qEUZRYnfnhQXd"
      crossorigin="anonymous"
    /> -->
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-left mb-0">Oksana Fedyukova </h3>
          <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link" href="/" >Back to Portfolio</a>
            <a class="nav-link active" aria-current="page" href="#">Blog</a>
            <a class="nav-link" href="/contact">Contact</a>

          </nav>
        </div>
      </header>
     
  
       
      <main class=" mt-xxl-5">
          
          
            <div class="quote"> 
            <h1 class="mt-5">TravelBlog</h1> <p class="lead">  
              <blockquote style="font-style: italic;">
                <p>"Travel is the only thing you buy that makes you richer."</p>
                      
            </blockquote>
                   
      <a href="https://express-demo-oksana.onrender.com/" class="btn btn-lg btn-secondary mt-3 font-weight-bold border-white " style=" background-color:  orangered; color:aliceblue">
        Join
          </a>
       </p>
      </div>
           
           
   
      </main>
  

      <footer class="mt-auto text-white-50">
        <p>oksana-fedyukova&copy;2023</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
