<% layout('layouts/boilerplate')%>
<div class="container">
    <h1>About Me</h1>

    <div class="card mb-3">
        <div class="row">
           
            </div>
            <div class="col-md-8">
                <div class="card-body">
<h3>I am...</h3>
                 
                </div>
            </div>
        </div>
    </div>
</div>

