<% layout('layouts/boilerplate')%>
<div class="container">
  <h1>About Me</h1>
  <a
        href="https://drive.google.com/file/d/1FSqHC-eyXqEbQqy6brG-QRNbmI1vErgU/view?usp=drive_link"
        class="btn btn-lg btn-secondary font-weight-bold border-white"
        target="_blank"
        >Download CV</a
      >
  <div class="card mb-3">
    <div class="row"></div>
    <div class="col-md-8">
    
      <div class="card-body">
        <h3>I am...</h3>
      </div>
    </div>
  </div>
</div>
